$primaryDarkColor: #4D0C02;

.drawer{
  flex-shrink: 0;
  width: 240px;
}


.search-box {
  width: 60% !important;
  margin: auto;

  .search-field {
    border-radius: 10px !important;
    color: $primaryDarkColor;
    width: 50%;

    &::placeholder {
      color: $primaryDarkColor;
    }

  }

  .search-button {
    color: $primaryDarkColor !important;
    border-radius: 100px !important;
    background-color: #457CFF !important;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
  }


}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;

  div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .postSuggestionImage {
    max-width: 70px;
    margin-right: 20px;
  }

  &:hover {
    background-color: #e9e9e9;
  }
}
.container-categories{
   .card-style {
     max-width: 20rem;
     margin-left: 20px;
     margin-right: 20px;
     cursor: pointer;
   }
}
