$primaryDarkColor: #4D0C02;
$primaryColor : #AC7F74;
$primaryShadowColor : #DECEBE;
$pageBackground : #FEFEFE;


$contrastTextColor : #639949;

body{
  background: $pageBackground;
}

.text-stock{
  color: green;
}

.image-full-width{
    width: 100%;
    height: 500px;
}

.drawer{
  flex-shrink: 0;
  width: 240px;
}

.view-more-button{
  color: $primaryColor !important;
}


.search-box {
  width: 60% !important;
  margin: auto;

  .search-field {
    border-radius: 10px !important;
    color: $primaryDarkColor;
    width: 50%;

    &::placeholder {
      color: $primaryDarkColor;
    }

  }

  .search-button {
    color: $primaryDarkColor !important;
    border-radius: 100px !important;
    background-color: $contrastTextColor !important;
  }
  .autocomplete {
    position: relative;
    display: inline-block;
  }


}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;

  div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .postSuggestionImage {
    max-width: 70px;
    margin-right: 20px;
  }

  &:hover {
    background-color: #e9e9e9;
  }
}
.container-categories{

   .card-style {
     max-width: 20rem;
     margin-right: 20px;
     cursor: pointer;
   }
}
.wrapper-button-center{
   display: flex;
  align-items: center;
  justify-content: center;

}
.wrapper-button-with-loading {
  margin: 10px;
  position: relative;

  .button-progress{
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
  }

}

.jumbotron{
  text-align: center;
}


$textColor: white;


.float-button-left {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 70px;
  background-color: $contrastTextColor;
  color: $textColor;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;

  &:hover {
    background-color: rgba($primaryColor, .5);
  }

}

.table-head-cell{
  font-weight: bold;
}

.rating {
  width: 50%;
  margin: 0 auto;
  font-size: 45px;
}
.rating input {
  float: right;
  opacity: 0;
  position: absolute;
}
.rating a,
.rating label {
  float:right;
  color: #aaa;
  text-decoration: none;
  -webkit-transition: color .4s;
  -moz-transition: color .4s;
  -o-transition: color .4s;
  transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
  color: orange;
  cursor: pointer;
}
.rating2 {
  direction: rtl;
}
.rating2 a {
  float:none
}


.delete-button{
  background: #DC3545 !important;
  color: white !important;
}
